.char__block {
    /* display: grid; */
    width: 200px;
    height: 318px;
    background-color: #232222;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
    margin: 0 0 35px 0;
    cursor: pointer;
}

.char__block-active{
    border: 2px solid rgb(146, 0, 0); 
}

.char__block_text{
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 20px; 
}

.char__block_img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.img__not-found {
    object-fit: contain;
}